
@{
    ViewBag.Title = "Index";
}

<h2>Lämpötilan hallinta</h2>
&nbsp;
<div class="row">
    <div class="col-md-4">
        <h5>Koti</h5>
        <p>Kodin nykyinen lämpötila on xx<span>&deg;</span></p>
        <input id="TalonTavoiteLämpötila" type="text" placeholder="Anna tavoitelämpötila" />
        <input id="TalonTavoiteLämpötilaSubmit" type="submit" value="Aseta lämpötila" />
    </div>
    <div class="col-md-4">
        <h5>Mökki</h5>
        <p>Mökin nykyinen lämpötila on xx<span>&deg;</span></p>
        <input id="MökinTavoiteLämpötila" type="text" placeholder="Anna tavoitelämpötila" />
        <input id="MökinTavoiteLämpötilaSubmit" type="submit" value="Aseta lämpötila" />
    </div>
</div> <!-- class:row -->

