
@{
    ViewBag.Title = "Index";
}

<h2>Valojen hallinta</h2>
&nbsp;
<div class="row">
    <div class="col-md-4">
        <h5>Olohuone</h5>
        <input id="ValoOnOffButtonOH" type="button" value="Valot päälle / pois" />
        <p>&nbsp;</p>
        <h6>Aseta valonkirkkaus</h6>
        <input id="OhRadio33" type="radio" />&nbsp;&nbsp;&nbsp;33 <br />
        <input id="OhRadio66" type="radio" />&nbsp;&nbsp;&nbsp;66 <br />
        <input id="OhRadio100" type="radio" />&nbsp;100
        <p>&nbsp;</p>
        <h6>Valon määrä on </h6>  0 / 33 / 66 / 100
    </div>
    <div class="col-md-4">
        <h5>Makuuhuone</h5>
        <input id="ValoOnOffButtonMH" type="button" value="Valot päälle / pois" />
        <p>&nbsp;</p>
        <h6>Aseta valonkirkkaus</h6>
        <input id="MhRadio33" type="radio" />&nbsp;&nbsp;&nbsp;33 <br />
        <input id="MhRadio66" type="radio" />&nbsp;&nbsp;&nbsp;66 <br />
        <input id="MhRadio100" type="radio" />&nbsp;100
        <p>&nbsp;</p>
        <h6>Valon määrä on </h6>  0 / 33 / 66 / 100
    </div>
    <div class="col-md-4">
        <h5>Keittiö</h5>
        <input id="ValoOnOffButtonKE" type="button" value="Valot päälle / pois" />
        <p>&nbsp;</p>
        <h6>Aseta valonkirkkaus</h6>
        <input id="MhRadio33" type="radio" />&nbsp;&nbsp;&nbsp;33 <br />
        <input id="MhRadio66" type="radio" />&nbsp;&nbsp;&nbsp;66 <br />
        <input id="MhRadio100" type="radio" />&nbsp;100
        <p>&nbsp;</p>
        <h6>Valon määrä on </h6>  0 / 33 / 66 / 100
    </div>
</div> <!-- class:row -->
