@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Mobiilisovellusten toteuttaminen eri alustoille K2019</h2>
    <h3>Älytalosovellus</h3>
    <h6>Designed by SKe</h6>
    &nbsp;
    <p>Siirry sovellukseen klikkaamalla alla olevia nappuloita</p>
    <div class="row">
        <div class="col-md-4">
            <p><a href="~/Talo/Index" class="btn btn-outline-info btn-lg">Lämpötilan hallinta &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <p><a href="~/Valo/Index" class="btn btn-outline-info btn-lg">Valojen hallinta &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <p><a href="~/Sauna/Index" class="btn btn-outline-info btn-lg">Saunan hallinta &raquo;</a></p>
        </div>
    </div>
</div>

