
@{
    ViewBag.Title = "Saunan ohjaus (Index)";
}



<h2>Saunan hallinta</h2>
&nbsp;
<div class="row">
    <div class="col-md-4">
        <h5>Sähkösauna</h5>
        <p>Saunan nykyinen lämpötila on xx<span>&deg;</span></p>
        <p>&nbsp;</p>
        <input id="SaunaOnOffButtonSähkö" type="button" value="Sauna päälle / pois" />
        <p>&nbsp;</p>
        <p>Sauna on </p>  ON/OFF
    </div>
    <div class="col-md-4">
        <h5>Pihasauna</h5>
        <p>Saunan nykyinen lämpötila on xx <span>&deg;</span></p>
        <p>&nbsp;</p>
        <input id="SaunaOnOffButtonPiha" type="button" value="Sauna päälle / pois" />
        <p>&nbsp;</p>
        <p>Sauna on </p>  ON/OFF
    </div>
</div> <!-- class:row -->